#rfPane, #ftr_pane, #ftrB, .items, .dg_b {
    background-color: var(--dark-light) !important;
}

.iuscp, .infopt, #miniheader #miniheader_data .itm,
#rfPaneIn .touchQuery .carousel .item, #b_tq_header .suggestions-scroll-content .suggestion-item,
.ftrH_MmVert:hover, .ftrH_MmVert:focus, .inline_tile .carousel {
    background-color: var(--dark) !important;
}

#rfPaneIn .touchQuery .carousel .item, #b_tq_header .suggestions-scroll-content .suggestion-item, #miniheader #miniheader_data .header_exp div.sug.underline {
    border-color: var(--very-dark) !important;
}