/** Variagles */
:root {
	--dark: #191c20;
	--dark-light: #25282c;
	--very-dark: #111417;
	--text-color: rgba(255,255,255,.8);
	color-scheme: dark !important;
}

/** Main background **/
html, body, .hb_section:active, .hb_section:hover, .hb_section:visited,
#b-scopeListItem-menu .b_sp_over_menu, .ftrD_MmVert {
	background-color: var(--dark) !important;
}

/** Header */
#b_header, #b_content, #id_hbfo, #miniheader table {
    background-color: var(--dark) !important;
}

#b_pole .b_wpTabsWrapper,
#b_content #b_pole .ent-dtab-content, #b_content #b_pole .ent-dtab-content > div:first-child {
	background-color: var(--very-dark) !important;
}

.ent-dtab-ovr.ent-dtab-ovr-nl.def-override.ent-dtab-tabuxv1,
#rfPaneIn .touchQuery .carousel .item, #b_tq_header .suggestions-scroll-content .suggestion-item,
#miniheader #miniheader_data .header_exp div.sug.underline {
	border-color: var(--very-dark) !important;
	background-color: var(--dark-light) !important;
}

/** Search Box */
.sbox .sb_form, .b_searchboxForm #sw_as .sa_hv,#sw_as li.pp_tile.sa_hv, .b_searchboxForm #sw_as .sa_hv,
.sbox .sb_form #sw_as .sa_as #sa_ul.sa_drw:not(:empty):before, #sw_as .sa_hv {
	background-color: var(--dark) !important;
}

.pp_title, .pp_titleOnly, .sa_tm_text, .sa_tm_text strong {
	color: var(--text-color) !important
}

/** More Search */
html #b_header .b_searchboxForm.as_rsform .sa_as>.as_rmhswarning,.b_searchboxForm, .sa_as .sa_drw,.b_searchboxForm.as_rsform #sw_as .sa_as {
	background-color: var(--dark-light) !important;
}

/** Footer */
.b_footer {
	background-color: var(--very-dark) !important;
}

/** Hyperlinks **/
#b_results > li a, #b_tween a:visited, #b_results .b_no a, .wr_pub {
	/* color: #1890ff !important; */
	color: #678eb2 !important;
}

/** Next and back buttons **/
.sb_pagN_bp:hover:after, .sb_pagN_bp:active:after, .sb_pagN_bp:focus:after,.sb_pagP_bp:hover:after, .sb_pagP_bp:active:after, .sb_pagP_bp:focus:after {
	-webkit-transform-origin: -430px 0 !important;
	transform-origin: -430px 0 !important;
}

.b_pag a:hover {
	background-color: var(--very-dark) !important;
}