#b_results > li, .l_ecrd_bkg_hlt {
    background: none !important;
}

/* Side Card */
.lite-entcard-exp {
    background: var(--light-dark) !important;
}

/** Special search boxes */
#b_results .b_algo .b_deeplinks_block_container .b_vlist2col.b_deep ul li {
    background: var(--very-dark) !important;
}

/* Videos */
.mc_vtvc_meta {
    background: var(--very-dark) !important;
}

/* Tags or something */
#serpvidans .qpbold {
    background: var(--dark) !important;
}

#serpvidans .rel_ent_w.rel_ent_scr.qpexp:not(.rel_ent_crs) .rel_ent_c .rel_ent {
    background: var(--very-dark) !important;
    border-color: var(--dark-light) !important;
}

.grad {
    background: linear-gradient(180deg,rgba(255,255,255,0) 0%,var(--dark) 100%) !important;
}

/* Business Cards */
#b_context .b_ans, #b_context #wpc_ag {
    background: var(--very-dark) !important;
}

/** Card at bottom */
#b_results #brsv3 .b_vList li a {
    background: var(--very-dark) !important;
}

/** URL on search */
cite, #b_results cite.sb_crmb a, #b_results cite a.sb_metalink, #b_results .b_adurl cite a, #bk_wr_container cite a {
	color: #adadad !important;
}